{% if not is_htmx %}
    {% extends "registrant/layout.jinja" %}
    {% block title %}Isi Wali{% endblock %}
{% else %}
    <title>Isi Wali</title>
{% endif %}

{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb" hx-target="#hx_content" hx-swap="innerHTML" >
        <li class="breadcrumb-item"><a href="{{ url_for('registrant.beranda') }}">Beranda</a></li>
        <li class="breadcrumb-item active">Isi Wali</li>
    </ol>
</nav>
<h1 class="h2">Isi Wali Siswa</h1>
<p>Isi Data Siswa Disini!</p>

<div class="row">
    <div class="col">
        <p>Lorem Ipsum</p>
    </div>
</div>
{% endblock %}