{% if not is_htmx %}
    {% extends "registrant/layout.jinja" %}
    {% block title %}Isi Data Pendaftar{% endblock %}
{% else %}
    <title>Isi Data Pendaftar</title>
{% endif %}

{% from 'macros.jinja' import render_field, render_notif %}

{% block content %}

{{ render_notif(error, success, info) }}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url_for('registrant.beranda') }}">Beranda</a></li>
        <li class="breadcrumb-item active">Data Pendaftar</li>
    </ol>
</nav>
<h1 class="h2">Isi Data Pendaftar</h1>
<p>Isi Data Pendaftar Disini!</p>

<div class="row justify-content-start">
    <div class="col">
        <div class="card">
        <div class="card-header">
            Unggah Foto
        </div>
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"
                            hx-target="#img_content"
                            hx-swap="innerHTML"
                            hx-push-url="false"
                            >
                    <form method="post" action="{{ url_for('registrant.proses_foto') }}"  
                            class="row row-cols-lg-auto g-3 align-items-center"
                            accept="image/*" enctype="multipart/form-data">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <div class="col-12">
                        <label class="form-label">Unggah foto resmi dengan proporsi 3x4</label>
                    </div>
                    <div class="col-12"><input class="form-control" type="file" id="file" name="file" required></div>
                    <div class="col-12"><button type="submit" class="btn btn-primary">Submit</button></div>
                </form>
                </li>
                <li class="list-group-item" id="img_content" hx-boost="false">
                {% if photo_uploaded %}
                STATUS: sudah upload. 
                <a class="btn btn-info btn-sm" target="_blank" href="{{ url_for('registrant.get_foto') }}">Lihat Foto</a>
                {% else %} STATUS: Belum Upload {% endif %}
                </li>
            </ul>
        </div>
        </div>
    </div>
</div>

<div class="row">
<div class="col">
<hr>
</div>
</div>

<div class="row">
	<div class="col-12">
		<form method="POST" action="{{ url_for('registrant.isi_data')}}">
		{{ form.csrf_token }}
        {{ render_field(form.nik) }}
        {{ render_field(form.nkk) }}
        {{ render_field(form.nak) }}
        {{ render_field(form.birth_place) }}
        {{ render_field(form.birth_date) }}
        {{ render_field(form.birth_order) }}
        {{ render_field(form.siblings_count) }}
        <hr>
        {{ render_field(form.street) }}
        {{ render_field(form.rt) }}
        {{ render_field(form.rw) }}
        {{ render_field(form.village) }}
        {{ render_field(form.district) }}
        {{ render_field(form.city) }}
        {{ render_field(form.province) }}
        {{ render_field(form.country) }}
        {{ render_field(form.postal_code) }}
        <hr>
        <div class="row mb-3">
            <label class="col-md-2 col-sm-3 col-form-label">Status Orang Tua</label>
            <div class="col-md-8 col-sm-7">
                {{ form.parent_status(class="form-select") }}
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-md-2 col-sm-3 col-form-label">Kewarganegaraan</label>
            <div class="col-md-8 col-sm-7">
                {{ form.nationality(class="form-select") }}
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-md-2 col-sm-3 col-form-label">Agama</label>
            <div class="col-md-8 col-sm-7">
                {{ form.religion(class="form-select") }}
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-md-2 col-sm-3 col-form-label">Tinggal Bersama</label>
            <div class="col-md-8 col-sm-7">
                {{ form.stay_with(class="form-select") }}
            </div>
        </div>
        {{ render_field(form.height) }}
        {{ render_field(form.weight) }}
        {{ render_field(form.head_size) }}
        <!-- TODO: hobi, prestasi, catatan kesihatan, kelainan jasmani dibuat seperti ppdb lama! -->
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    </div>
</div>
{% endblock %}