{% if not is_htmx %}
    {% extends "registrant/layout.jinja" %}
    {% block title %}Rekap{% endblock %}
{% else %}
    <title>Rekap</title>
{% endif %}

{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb" >
        <li class="breadcrumb-item"><a href="{{ url_for('registrant.beranda') }}">Beranda</a></li>
        <li class="breadcrumb-item active">Rekap</li>
    </ol>
</nav>
<h1 class="h2">Isi Data Siswa</h1>
<p>Isi Data Siswa Disini!</p>

<div class="row">
    <div class="<col>">
        <p>Lorem Ipsum</p>
    </div>
</div>
{% endblock %}