{% if not is_htmx %}
    {% extends "admin/layout.jinja" %}
    {% block title %}Lihat Pendaftar{% endblock %}
{% else %}
    <title>Lihat Pendaftar</title>
{% endif %}

{% from 'macros.jinja' import render_notif %}

{% block content %}

{{ render_notif(error, success, info) }}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url_for('admin.beranda') }}">Beranda</a></li>
        <li class="breadcrumb-item active">Data Pendaftar</li>
    </ol>
</nav>
<h1 class="h2">Lihat Data Pendaftar</h1>

<div class="row">
<div class="col">
<button class="btn btn-primary" onclick="show_download_modal()">Download Excel</button>
</div>
</div>

<div class="row">
<div class="col">
<table id="tabel_utama" class="table table-striped table-sm" style="width:100%">
    <thead>
        <tr>
            <th>No.</th>
            <th>Reg. ID</th>
            <th>Username</th>
            <th>Nama</th>
            <th>Sekolah Asal</th>
            <th>Jalur Seleksi</th>
            <th>Kelas Pilihan</th>
            <th>No. Telp</th>
            <th>No. Telp Ayah</th>
            <th>No. Telp Ibu</th>
            <th>Aksi</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
</div>
</div>
<div class="modal modal-warning fade" id="confirm_delete" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Konfirmasi Hapus</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p id="confirm_delete_content"></p>
      </div>
      <div class="modal-footer" hx-boost="false">
        <form method="POST" action="{{ url_for('admin.hapus_pendaftar') }}">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <input type="hidden" name="reg_id" id="inp_reg_id"/>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Batal</button>
            <input type="submit" class="btn btn-danger" id="confirm_delete_btn" value="Hapus">
        </form>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="download_excel_modal" tabindex="-1" aria-labelledby="download_excel_modal_label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="download_excel_modal_label">Download Excel</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="{{ url_for('export.data_pendaftar') }}" method="post" hx-boost="false">
          {{ dl_form.csrf_token }}
          <div class="mb-3">
          <label class="form-label">Jalur Seleksi Pendaftaran</label>
              {{ dl_form.selection_path(class="form-select") }}
          </div>
          <div class="mb-3">
              <label class="form-label">Program Pendidikan</label>
              {{ dl_form.program(class="form-select") }}
          </div>
          <button type="submit" class="btn btn-primary"><i class="bi bi-download"></i> Download</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Batal</button>
        </form>
      </div>
    </div>
  </div>
</div>
<script>
$( document ).ready(function() {
    new DataTable('#tabel_utama', {
        ajax: "{{url_for('admin.data_pendaftar')}}",
        pageLength: 25,
        scrollX: true,
        scrollY: 400,
        order: [
          [0, 'desc']
        ]
    });
});
var show_download_modal = () => {
  let download_modal = new bootstrap.Modal(document.getElementById('download_excel_modal'))
  download_modal.show();
};
var del_modal = (reg_id) => {
    // TODO: Kasih nama/username? via ajax? atau htmx?
    document.getElementById('confirm_delete_content').innerText = "Apakah anda yakin menghapus user dengan id " + reg_id.toString();
    let dmodal = new bootstrap.Modal(document.getElementById('confirm_delete'));
    document.getElementById('inp_reg_id').value = reg_id;
    dmodal.show();
};
</script>
{% endblock %}