{% if not is_htmx %}
    {% extends "admin/layout.jinja" %}
    {% block title %}Profil Pendaftar: {{rg.name}}{% endblock %}
{% else %}
    <title>Profil Pendaftar: {{rg.name}}</title>
{% endif %}

{% from 'macros.jinja' import render_notif, render_field %}

{% block content %}

{{ render_notif(error, success, info) }}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url_for('admin.beranda') }}">Beranda</a></li>
        <li class="breadcrumb-item"><a href="{{ url_for('admin.lihat_pendaftar') }}">Pendaftar</a></li>
        <li class="breadcrumb-item active">Lihat Profil</li>
    </ol>
</nav>
<h1 class="h2">Profil Pendaftar</h1>
<p>Nama: {{rg.name}}</p>

<div class="row">
    <div class="col">
        <div class="card">
        <div class="card-header">
            Data Diri
        </div>
        <div class="card-body">
            <div class="container">
            <div class="row">
            <div class="col-md-2">
            <img src="{{ url_for('admin.get_foto', reg_id=rg.id, tipe='foto')}}" class="img-fluid">
            </div>
            <div class="col-md-10">
            <table>
                <tr>
                    <td>Nama</td><td>&nbsp;:&nbsp;<td>{{rg.name}}</td>
                </tr>
                <tr>
                    <td>Gender</td><td>&nbsp;:&nbsp;<td>{{rg.gender}}</td>
                </tr>
                <tr>
                    <td>Asal Sekolah</td><td>&nbsp;:&nbsp;<td>{{rg.prev_school}}</td>
                </tr>
                <tr>
                    <td>NISN</td><td>&nbsp;:&nbsp;<td>{{rg.nisn}}</td>
                </tr>
                <tr>
                    <td>Kontak</td><td>&nbsp;:&nbsp;<td>{{rg.cp}}</td>
                </tr>
                <tr>
                    <td>Program Pilihan</td><td>&nbsp;:&nbsp;<td>{{rg.program}}</td>
                </tr>
                <tr>
                    <td>Jalur Masuk</td><td>&nbsp;:&nbsp;<td>{{rg.selection_path}}</td>
                </tr>
            </table>
            </div>
            </div>
            </div>
        </div>
        </div>
    </div>
</div>

<div class="row">
<div class="col">
&nbsp;
</div>
</div>

<div class="row">
    <div class="col">
        <div class="card">
        <div class="card-header">
            Aksi Admin
        </div>
        <div class="card-body">
            {% if rg.finalized %}
            <a class="btn btn-warning" hx-boost="false" 
            href="{{url_for('admin.revert_finalization', username=rg.username)}}">Undo Finaliasi</a>
            &nbsp;
            {% endif %}
            {% if is_superadmin %}
            <a class="btn btn-secondary" hx-boost="false"  href="{{url_for('admin.log_as_registrant', user_id=rg.id)}}">
            Masuk Sebagai Pendaftar</a>
            &nbsp;
            {% endif %}
            <a class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#change_password_modal" href="#">
            Reset Password</a>
            &nbsp;
            {% if status.upload_foto and status.data_diri and status.data_ayah and status.data_ibu3 %}
            <a class="btn btn-info" hx-boost="false"  href="{{url_for('registrant.download_kartu_pendaftaran_admin', reg_id=rg.id)}}">
            Unduh Kartu Pendaftaran</a>
            &nbsp;
            {% endif %}
            {% if status.surat_pernyataan %}
            <a class="btn btn-success" hx-boost="false"  href="{{url_for('registrant.download_surat_pernyataan_admin', reg_id=rg.id)}}">
            Unduh Surat Pernyataan</a>
            {% endif %}
        </div>
        </div>
    </div>
</div>

<div class="row">
<div class="col">
&nbsp;
</div>
</div>

<div class="row">
    <div class="col">
        <div class="card">
        <div class="card-header">
            Kelengkapan Data
        </div>
        <div class="card-body">
            <ul class="list-group list-group-flush">
                {% if rg.reg_fee == 0 and rg.verified_status == 0 %}
                <li class="list-group-item list-group-item-warning">
                    <i class="bi bi-exclamation-triangle"></i></i>&nbsp;Belum upload kwitansi biaya pendaftaran
                </li>
                {% elif rg.verified_status == 0 %}
                <li class="list-group-item list-group-item-secondary">
                    <i class="bi bi-hourglass"></i>&nbsp;Kwitansi sudah diupload tapi belum diverifikasi oleh petugas
                </li>
                {% elif rg.verified_status == 1 %}
                <li class="list-group-item list-group-item-success">
                    <i class="bi bi-check2-square"></i>&nbsp;Kwitansi sudah diupload dan sudah Diverifikasi oleh petugas
                </li>
                {% else %}
                <li class="list-group-item list-group-item-success">
                   <i class="bi bi-x-square"></i>&nbsp;Kwitansi tidak valid
                </li>
                {% endif %}
                <li class="list-group-item list-group-item-{{ 'success' if status.upload_foto else 'danger' }}">
                {% if status.upload_foto %} 
                    <i class="bi bi-check2-square"></i>&nbsp;Foto sudah di upload 
                {% else %}
                    <i class="bi bi-x-square"></i>&nbsp;Foto belum diupload
                {%endif%}
                </li>
                <li class="list-group-item list-group-item-{{ 'success' if status.data_diri else 'danger' }}">
                {% if status.data_diri %} 
                    <i class="bi bi-check2-square"></i>&nbsp;Data Pendaftar Sudah Diisi 
                {% else %}
                    <i class="bi bi-x-square"></i>&nbsp;Data Pendaftar Belum Diisi
                {%endif%}
                </li>
                <li class="list-group-item list-group-item-{{ 'success' if status.data_ayah else 'danger' }}">
                {% if status.data_ayah %} 
                    <i class="bi bi-check2-square"></i>&nbsp;Data Ayah Sudah Diisi
                {% else %}
                    <i class="bi bi-x-square"></i>&nbsp;Data Ayah Belum Diisi
                {%endif%}
                </li>
                <li class="list-group-item list-group-item-{{ 'success' if status.data_ibu else 'danger' }}">
                {% if status.data_ibu %} 
                    <i class="bi bi-check2-square"></i>&nbsp;Data Ibu Sudah Diisi
                {% else %}
                    <i class="bi bi-x-square"></i>&nbsp;Data Ibu Belum Diisi
                {%endif%}
                </li>
                <li class="list-group-item list-group-item-{{ 'success' if status.data_wali else 'warning' }}">
                {% if status.data_wali %} 
                    <i class="bi bi-check2-square"></i>&nbsp;Data Wali Sudah Diisi
                {% else %}
                    <i class="bi bi-x-square"></i>&nbsp;Data Wali Belum Diisi (tidak wajib)
                {%endif%}
                </li>
                <li class="list-group-item list-group-item-{{ 'success' if status.surat_pernyataan else 'danger' }}">
                {% if status.surat_pernyataan %} 
                    <i class="bi bi-check2-square"></i>&nbsp;Surat Pernyataan Sudah Diisi 
                {% else %}
                    <i class="bi bi-x-square"></i>&nbsp;Surat Pernyataan Belum Diisi
                {%endif%}
                </li>
                <li class="list-group-item"></li>
            </ul>
        </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
    &nbsp;
    </div>
</div>

<div class="row">
    <div class="col">
    <h4>Dokumen yang sudah diupload: </h4>
    </div>
</div>

{% for doc in docs %}
<div class="row">
    <div class="col">
    &nbsp;
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="card">
        <div class="card-header">
            {{doc.filename}}
        </div>
        <div class="card-body">
        <div class="row">
        <div class="col">
            <table>
            <tr><td>Namafile</td><td>&nbsp;:&nbsp;</td><td>{{doc.filename}}</td></tr>
            <tr><td>Tipe</td><td>&nbsp;:&nbsp;</td><td>{{doc.type}}</td></tr>
            <tr><td>Tanggal Terbit</td><td>&nbsp;:&nbsp;</td><td>{{doc.issued_date}}</td></tr>
            <tr><td>Keterangan</td><td>&nbsp;:&nbsp;</td><td>{{doc.note}}</td></tr>
            </table>
        </div>
        </div>
        <div class="row">
        <div class="col">
        <img src="{{ url_for('admin.get_doc', reg_id=rg.id, filename=doc.filename)}}" class="img-fluid">
        </div>
        </div>
        </div>
        </div>
    </div>
</div>
{% endfor %}

<div class="modal fade" id="change_password_modal" tabindex="-1" aria-labelledby="change_password_modal_label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="change_password_modal_label">Reset Password</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="POST" action="{{ url_for('admin.reset_password_pendaftar', reg_id=rg.id) }}"
            hx-boost="false">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <div class="mb-3">
                <label class="form-label" for="new_password">Password Baru</label>
                <input type="password" onkeyup="cek_password()" class="form-control" id="new_password" name="new_password" required>
            </div>
            <div class="mb-3">
                <label class="form-label" for="confirm_password">Konfirmasi Password</label>
                <input type="password" onkeyup="cek_password()" class="form-control" id="confirm_password" name="confirm_password" required>
                <div id="password_help" class="form-text"></div>
            </div>
            <div class="mb-3">
                <button type="submit" id="bt_submit" class="btn btn-primary">Reset Password</button>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script>
let cek_password = () => {
    if(document.getElementById("new_password").value != document.getElementById("confirm_password").value){
        document.getElementById("password_help").innerText = "Password tidak sama";
        document.getElementById("bt_submit").disabled = true;
    }else{
        document.getElementById("password_help").innerText = "Password sudah sama";
        document.getElementById("bt_submit").disabled = false;
    }
};
</script>
{% endblock %}