{% extends "login/layout.jinja" %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="row">
	<div class="col">
		<form method="POST" action="{{ url_for('auth.login') }}" hx-boost="false">
		  {{ form.csrf_token }}
		  {{ render_field(form.username) }}
		  {{ render_field(form.password) }}
		  <button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
</div>
{% endblock %}