{% extends "login/layout.jinja" %}

{% block title %}Lihat Pendaftar{% endblock %}

{% block content %}
<div class="row">
	<div class="col d-flex justify-content-center align-items-center ">
		<div class="card rounded-0 mb-3">
            <div class="card-body">
                <h5 class="card-title">Daftar Calon Peserta Ddidk</h5>
		<table id="tabel_utama" class="table table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>No. Pendaftaran</th>
                    <th>Nama</th>
                    <th>Sekolah Asal</th>
                    <th>Kelas Pilihan</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        </div>
        </div>
	</div>
</div>
<script>
// A $( document ).ready() block.
$( document ).ready(function() {
    new DataTable('#tabel_utama', {
        ajax: "{{url_for('registrant.data_pendaftar')}}",
        pageLength: 25
    });
});
</script>
{% endblock %}