{% extends "login/layout.jinja" %}

{% block title %}Daftar{% endblock %}

{% block content %}
<!-- TODO: Error Field -->
<div class="row">
	<div class="col">
		<form method="POST" action="{{ url_for('auth.register')}}" hx-boost="false">
		{{ form.csrf_token }}
        {{ render_field(form.username) }}
        {{ render_field(form.name) }}
        {{ render_field(form.prev_school) }}
        {{ render_field(form.nisn) }}
        {{ render_field(form.cp) }}
        <div class="mb-3">
            <label class="form-label">Jenis Kelamin</label>
            {% for subfield in form.gender %}
                <div class="form-check">
                    {{ subfield }}
                    <label class="form-check-label" for="{{ subfield.id }}">{{ subfield.label }}</label>
                </div>
            {% endfor %}
        </div>
        <div class="mb-3">
            <label class="form-label">Jalur Seleksi Pendaftaran</label>
            {{ form.selection_path(class="form-select") }}
        </div>
        <div class="mb-3">
            <label class="form-label">Program Pendidikan</label>
            {{ form.program(class="form-select") }}
        </div>
        {{ render_field(form.password) }}
        {{ render_field(form.confirm_password) }}
        <div class="mb-3">
        <label class="form-label">Gambar Captcha: </label>
        <!-- <img src="" id="capt_img" class="img-responsive" alt="captcha"> -->
        </div>
        <div class="mb-3">
        <label class="form-label">Input Captcha</label>
        {{ form.captcha(class="form-control") }}
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    </div>
</div>
{% endblock %}